### Assignment-03 (SET)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty set and print it.

In [7]:
a = set()
type(a)

set

  Create a set of your favorite colors and print it.

In [16]:
colors = {'Red', "green", "BROWN", "Yellow"}

    Create a set that includes a mix of data types (integers, strings, floats).

In [17]:
ex = {1,',', True, False,1.0}

Access the elements of a set using a loop and print each element.

In [18]:
for cl in colors:
    print(cl)

Red
Yellow
BROWN
green

add a new element to a set using the add() method.

In [19]:
colors.add('Black')
colors

{'BROWN', 'Black', 'Red', 'Yellow', 'green'}

Add multiple elements to a set using the update() method.

In [20]:
colors.update(("White", 'Blue',))
colors

{'BROWN', 'Black', 'Blue', 'Red', 'White', 'Yellow', 'green'}

Remove and return an arbitrary element from a set using the pop() method.

In [21]:
colors.pop()

'White'

Remove a specific element from a set using the remove() method.

In [24]:
colors.remove('Black')
colors

{'BROWN', 'Blue', 'Red', 'Yellow', 'green'}

Remove a specific element from a set using the discard() method.

In [25]:
colors.discard('BROWN')
colors

{'Blue', 'Red', 'Yellow', 'green'}

Convert a string to a set of unique characters.

In [31]:
a = set('Hamza')
a

{'H', 'a', 'm', 'z'}

Convert a set of characters to a string.

In [32]:
''.join(a)

'zaHm'

Use the clear() method to remove all elements from a set.

In [34]:
a.clear()
a

set()

Use the copy() method to create a shallow copy of a set.

In [43]:
a = {'a', 'b', 'c' }
import copy

b = copy.copy(a)
b

TypeError: unhashable type: 'set'

In [38]:
a is b

False

In [39]:
a == b

True

Use the difference() method to find the difference between two sets.

In [51]:
x = {1,2,3,4,5}
y = {5,6,7,8}
y.difference(x)

{6, 7, 8}

Create two sets and find their union.

In [53]:
x.union(y)

{1, 2, 3, 4, 5, 6, 7, 8}

In [54]:
x | y

{1, 2, 3, 4, 5, 6, 7, 8}

    Create two sets and find their intersection.

In [55]:
x.intersection(y)

{5}

 Create two sets and find their difference.

In [56]:
x = {1,2,3,4,5}
y = {5,6,7,8}
x - y

{1, 2, 3, 4}

    Create two sets and find their symmetric difference.

In [58]:
x.symmetric_difference(y)

{1, 2, 3, 4, 6, 7, 8}

Check if one set is a subset of another.

In [63]:
x ={1,2,3}
y = {1,2,3,4}
x.issubset(y)

True

    Check if one set is a superset of another.

In [67]:
y.issuperset(x)

True

    Check if two sets are disjoint (have no common elements).

In [69]:
not x.isdisjoint(y)

True