### Assignment-01 (List)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Create an empty list and print it.

In [1]:
empty = []
print(empty)

[]

Create a list of your favorite colors and print it.

In [ ]:
colors = ['Green', 'Yellow']
print(colors)

Create a list that includes a mix of data types (integers, strings, floats).

In [2]:
mix_achaar = [1,'okay', True, 1.0]

Access the first element of a list.

In [3]:
mix_achaar[0]

1

Access the last element of a list.

In [4]:
mix_achaar[-1]

1.0

 Access the second and third elements of a list.

In [6]:
mix_achaar[1:3]

['okay', True]


Slice a list to extract the first three elements.

In [7]:
mix_achaar[:3]

[1, 'okay', True]

Slice a list to extract the last three elements.

In [18]:
mix_achaar[-3::]

['okay', True, 1.0]

Slice a list to get every second element.

In [11]:
mix_achaar[1::2]

['okay', 1.0]

Reverse a list using slicing.

In [ ]:
mix_achaar[::-1]

 Create two lists and concatenate them.

In [31]:
a = ['First List']
b = ['2nd List']
concat = a + b
concat

['First List', '2nd List']


Repeat a list multiple times using the repetition operator

In [32]:
a * 5

['First List', 'First List', 'First List', 'First List', 'First List']

Add a new element to the end of a list using the append() method.

In [33]:
a.append(2)


Extend a list with elements from another list using the extend() method.

In [34]:
a.extend(b)

Insert an element at a specific index in a list using the insert() method.

In [35]:
a.insert(2,3)
a

['First List', 2, 3, '2nd List']

 Remove the last element from a list using the pop() method.

In [25]:
a.pop()

'2nd List'

Remove a specific element from a list using the remove() method.

In [26]:
a.remove(3)

Clear all elements from a list.

In [28]:
a.clear()
a

[]

Delete an element at a specific index using the del statement.

In [40]:
del(a[0])
a

[3, '2nd List']

Convert a string to a list of characters and vice-versa.

In [53]:
a = list('hamza')
' '.join(a)

'h a m z a'

In [56]:
#Sort a list in ascending order using the sort() method.
x = [10,9,8,7,6,5,4,3,2,1]
x.sort()
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:

Sort a list in descending order using the sort() method.

In [57]:
x = [10,9,8,7,6,5,4,3,2,1]
x.sort(reverse= True)
x

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Reverse the order of a list using the reverse() method.

In [72]:
h = ['Doraemon', ' Nobita']
h.reverse()
h

[' Nobita', 'Doraemon']

Check if an element is present in a list using the in operator.

In [73]:
'Doraemon' in h

True

Compare two lists to see if they are equal in both value and identity.

In [85]:
a = [15,19]
b = [15,19]
a is b
id(a), id(b)

(3059867106176, 3059866884096)

In [81]:
a == b

True

Create a shallow copy of a list and modify one of the lists to observe the effects on the other.

In [92]:
import copy

In [120]:
a = [1,2,[3,7],4,5]
b = copy.copy(a)

In [121]:
a[2][1] = 5

In [122]:
a is b

False

In [124]:
id(a), id(b)

(3059865966912, 3059852085312)

In [125]:
a == b

True

In [126]:
b

[1, 2, [3, 5], 4, 5]

Create a deep copy of a nested list and modify one of the lists to observe the effects on the other.

In [127]:
x = [1,2,[3,7],4,5]
y = copy.deepcopy(x)

In [128]:
id(x), id(y)

(3059866866112, 3059858211776)

In [131]:
x == y

False

In [130]:
x[2][1] = 5

Pickle and Unpickle a list and display its content.

In [132]:
import pickle

In [133]:
h = ['My name is Hamza']
stream = pickle.dumps(h)

In [134]:
new_list = pickle.loads(stream)

In [135]:
new_list

['My name is Hamza']