### Assignment-02 (DICTIONARY)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty dictionary and print it.

In [4]:
a = {}
type(a)
print(a)

{}

    Create a dictionary representing a person with keys such as 'name', 'age', and 'city'.

In [7]:
data = {'Name' : 'Hamza', "Age" : 22, "City": 'Its Lahore Bro'}
data

{'Name': 'Hamza', 'Age': 22, 'City': 'Its Lahore Bro'}

    Create a dictionary that includes keys with different data types (strings, integers).

In [23]:
data = {'Name' : 'Hamza', 22 : "Age", "City": 'Its Lahore Bro', }
data

{'Name': 'Hamza', 22: 'Age', 'City': 'Its Lahore Bro'}

Access and print the value associated with a specific key.

In [24]:
data['Name']

'Hamza'

    Use the get() method to access a value, providing a default value if the key is not present.

In [25]:
data.get('Name1','Default')

'Default'

    Iterate through the keys of a dictionary and print each key.

In [26]:
for i in data:
    print(i)

Name
22
City

Add a new key-value pair to a dictionary.

In [29]:
data['Salary'] = 450000

In [30]:
data

{'Name': 'Hamza', 22: 'Age', 'City': 'Its Lahore Bro', 'Salary': 450000}

Modify the value associated with an existing key.

In [31]:
data['Name'] = ' Doraemon'

Remove a specific key-value pair from a dictionary using the pop() method.

In [33]:
data.pop('Salary')
data

TypeError: pop expected at least 1 argument, got 0

    Remove a specific key-value pair from a dictionary using the del statement.

In [34]:
del(data['Name'])
data

{22: 'Age', 'City': 'Its Lahore Bro'}

Convert a dictionary to a list of keys.

In [37]:
keys = list(data.keys())
keys

[22, 'City']

    Convert a dictionary to a list of values.

In [38]:
vals = list(data.values())
vals

['Age', 'Its Lahore Bro']

    Convert a list of tuples to a dictionary.

In [40]:
tuples = [(2,3), (4,5), (6,7)]
dict(tuples)

{2: 3, 4: 5, 6: 7}

Use the keys() method to get a list of keys in a dictionary.

In [42]:
keys = data.keys()
keys

dict_keys([22, 'City'])


    Use the values() method to get a list of values in a dictionary.

In [43]:
vals = data.values()
vals

dict_values(['Age', 'Its Lahore Bro'])

    Use the items() method to get a list of key-value pairs in a dictionary.

In [45]:
item = data.items()
item

dict_items([(22, 'Age'), ('City', 'Its Lahore Bro')])

Check if a key is present in a dictionary using the in operator.

In [49]:
'City' in data

True

    Use the setdefault() method to add a key with a default value if it doesn't exist.

In [57]:
data.setdefault('Country', 'Pakistan')
data

{22: 'Age', 'City': 'Its Lahore Bro', 'Country': 'Pakistan'}

    Merge two dictionaries using the update() method.

In [58]:
data.update({'Salary' : 450000})
data

{22: 'Age', 'City': 'Its Lahore Bro', 'Country': 'Pakistan', 'Salary': 450000}

    Use the clear() method to remove all elements from a dictionary.

In [59]:
data.clear()

In [60]:
data

{}