---   
 <img align="left" width="75" height="75"  src="https://upload.wikimedia.org/wikipedia/en/c/c8/University_of_the_Punjab_logo.png"> 

<h1 align="center">Department of Data Science</h1>
<h1 align="center">Course: Tools and Techniques for Data Science</h1>

---
<h3><div align="right">Instructor: Muhammad Arif Butt, Ph.D.</div></h3>

<h1 align="center">Lecture 3.14 (Pandas-06)</h1>

## _Subsetting Dataframes.ipynb_

## Motivation:
- The ability to select specific rows and columns to access and filter data based on specific conditions are two of the key features of Pandas.
    - **Selection** allows you to access specific rows or columns (a subset) of the data by their index and/or location in the DataFrame
        - In large datasets, you may be required to select the first/last N records
        - In large datasets, you may be required to select a range (n to m) of records
        - In large datasets, you may be required to select specific columns of your interest
        - In large datasets, you may be required to select specific range and specific columns of your interest
    - **Filtering** allows you to access specific rows or columns (a subset) of the data based on one or more conditions
        - In a medical dataset, you may be required to filter record of all those patients who suffer with a specific disease, or who have a specific blood group
        - In a medical dataset, you may be required to filter pregnant women who have anemia, and compare this subset to women who donâ€™t have anemia.
        - In a travel dataset, you may be required to filter hotels inside Lahore city, sorted by their minimum per day cost
        - In a client dataset, you may be required filter the clients who use a Gmail account(may require a string filter)
        - In a client dataset, you may be required to filter the clients who belong to a specific countries (may require use of .isin() function)

## Learning agenda of this notebook

1. Selecting Rows of a dataframe?
    - First read a dataset and get some insights bout the data
    - Select first/last 'N' rows based on their position index
    - Select rows in a particular range using slice object
2. Understanding index of a dataframe
    - What is an index?
    - Can we change the index?
    - Will the index be always numeric?
    - Can we reset the index?
3. Selecting Rows using of loc and iloc attributes
    - Creating a basic dataframe from scratch
    - Slicing a dataframe having positional index
    - Slicing a dataframe having categorical variable as index
    - Understanding label of loc and index of iloc
    - Using list of  labels and integers with loc and iloc respectively
    - Subsetting specific rows with specific columns with loc and iloc
    - Selecting rows based on a condition
    - Selecting rows based on multiple conditions
    - Conditional selection and viewing specific columns
4. Selecting columns of a dataframe?
    - Select single column from a dataframe
    - Select multiple columns from a dataframe
    - Get the subset based on a value of a column
5. Selecting columns of a dataframe?
6. Selecting columns  with specific data types?
7. Practice session on filtering data

##  1. Read a Sample Dataframe

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv('../course-datasets/groupdata.csv')
df.head()

In [ ]:
df.shape

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.dtypes

In [ ]:
# If no argument is passed, this method displays descriptive statistics about the numeric columns of the dataframe
df.describe()

In [ ]:
#If you want to display details about the columns of a specific datatype, e.g., int64
df.describe(include='int64')

In [ ]:
#If you want to display details about the columns of a specific datatype, e.g., object
df.describe(include='object')

In [ ]:
#If you want to display details about all the columns of dataframe
df.describe(include='all')

<img align="right" width="500" height="500"  src="images/pandas.png"  >

## 2. Understanding the two Indices of a Pandas Dataframe
- Every dataframe object has two indices: a row indiex and a column index
- These indices abr by default integer values (0,1,2,...) or a may be a string. Indeces must be unique, hashable and have the same length as data.
- Pandas Dataframe object (like series), supports both **positional** (integer-based) and **labeled** (string values) indexing
- By default, the row indices starts from 0 and ends at n-1, where n is the total number of rows in dataframe
- By default, the column labels also starts from 0 and ends at n-1, where n is the total number of columns in dataframe
- When we read data from csv files, normally the column labels are set as per the first row of the file, which is more meaningful
- We can always reset both the indices of a Pandas dataframe on requirement basis.
- Remember, as in case of series the indices of a Pandas Dataframe are also used for three purposes
    - Identification
    - Selection/Filtering/Subsetting
    - Alignment
- Before we discuss these three uses of indices, let us dig a little deeper to have a clear understanding about the indices of a Pandas Dataframe object

### a. Understanding the Column Labels of a Pandas Datarame
- Every dataframe has column labels associated with its columns
- These by default are integer values from 0,1,2,3...
- However, while creating a dataframe from scratch, or while reading them from a file you can set them to more meaningful string values.
- While reading from csv file the first row in the file is taken as the column labels
- We can change the column labels, if we want
- Let us practically see this for better understanding

In [ ]:
df = pd.read_csv('../course-datasets/groupdata.csv')
df.head()

In [ ]:
df = pd.read_csv('../course-datasets/groupdatawithoutcollables.csv')
df.head()

In [ ]:
df = pd.read_csv('../course-datasets/groupdatawithoutcollables.csv', header=None)
df.head()

**To read such files, you have to pass the parameter `header=None` to the `read_csv()` method as shown below**m
**Now if you want to assign new column labels to make them more understandable, you can use the set_index() method as shown below**

In [ ]:
col_names = ['roll no', 'name', 'age', 'address', 'session', 'group', 'gender', 'subj1', 'subj2', 'scholarship']
df.columns = col_names
df.head()

### b. Renaming Column Labels of a Pandas Dataframe

**Option 1:** Use `df.rename()` method

In [ ]:
df.columns

In [ ]:
# You pass a dictionary object to the columns argument to rename() method
# The key is the old column name, while the value is the new column name
df.rename(columns={'roll no': 'rollno'}, inplace=True)

In [ ]:
df.columns

**Option 2:** Assign a Python list having new column names of all columns to the `columns` attribute of dataframe

In [ ]:
col_names = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6', 'col7', 'col8', 'col9', 'col10']
df.columns = col_names

In [ ]:
df.head()

In [ ]:
# Let us reset to old values
col_names = ['rollno', 'name', 'age', 'address', 'session', 'group', 'gender',
       'subj1', 'subj2', 'scholarship']
df.columns = col_names

In [ ]:
df.head()

**Option 3:** You can rename the Columns while reading the CSV file

In [ ]:
col_names = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6', 'col7', 'col8', 'col9', 'col10']
df = pd.read_csv('../course-datasets/groupdata.csv', names=col_names, header=0)
df.head()

- If there are over 100 columns in a CSV file, then the above method is quite cumbersome.
- Remember groupdata.csv file has first column name "roll no"
- Suppose we just want that all the column names having space inbetween should be replaced with an underscore
- You can use the following trick.

In [ ]:
df = pd.read_csv('../course-datasets/groupdata.csv')
df.columns

In [ ]:
df.columns = df.columns.str.replace(' ', '_')

All the string methods can be used with Pandas series in the following fashion:

`seriesobject.str.replace()`

`df.colname.str.contains('butt)`


- For Details: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.replace.html?highlight=pandas%20series%20str%20replace#pandas.Series.str.replace

In [ ]:
df.columns

### c. Understanding the Row Labels of a Pandas Dataframe
- Every dataframe has row index associated with its rows
- These by default are integer values from 0,1,2,3...
- However, while creating a dataframe from scratch you may set them to some meaningful string values (seldom required).
- We have already seen this in our previous session
- Today, we will see two methods that work on row indices of a Pandas Dataframe named `df.set_index()` and `df.reset_index()`

In [ ]:
df.index

In [ ]:
df.head()

**Note that the row index of this dataframe is set to default integer values of 0,1,2,3,...

### d. Changing Default Row Index of a Pandas Dataframe to another Column in the Dataset using `df.set_index()`
- We use `df.set_index()` method to change index of a dataframe to some other column
```
DataFrame.set_index(keys, drop=True, append=False, inplace=False, verify_integrity=False)
```
Where
    - `keys` is the column label 
    - `drop=True`, to drop the column that's set as new index
    - `append=False`, Set it to True if you want to append columns to existing index
    - `inplace=False`, Set it to True to make changes in the original dataframe, i.e., do not create a new object
    - `verify_integrity=False`, Check the new index for duplicates. Otherwise defer the check until necessary. Setting to False will improve the performance of this method.

Returns Dataframe if `inplace=False` or None if `inplace=True`

In [ ]:
df1 = df.set_index(keys='roll no', drop=True, inplace=False)
df1.head()

In [ ]:
df1.index

**Note that the roll no column has become the index now, it is no more data of the dataframe**

### e. Set the row index to Default/Positional Values using `df.reset_index()`
- The `df.reset_index()` method reset the index of the DataFrame, and use the default one instead.
- If the DataFrame has a MultiIndex, this method can remove one or more

```
DataFrame.reset_index(drop=False, inplace=False)
```
Where
- `drop=False`, Do not try to insert index into dataframe columns. This resets the index to the default integer index.
- `inplace=False`,  Modify the DataFrame in place (do not create a new object).

Returns Dataframe if `inplace=False` or None if `inplace=True`

In [ ]:
# reset the index
df1.reset_index(inplace=True)
df1.head()

In [ ]:
df1.index

## 3. Selecting one or more Columns of a Dataframe
- Each column of a datafram is known as Pandas series.
- We normally don't work on series independently, rather need to understand them as they are part of every dataframe and many dataframes return a series
- Suppose we want to select a column of a dataframe, e.g., age or scholarship, because we may want to perform some operations on that column independently

### a. One way of doing it is using the `[]` operator and writing the column label inside it

In [ ]:
s1 = df['age']
print(s1)
type(s1)

Since this is a series, so you can use many of the methods that you can use on Pandas Series and Dataframes, in a chained format, as shown below

In [ ]:
df['age'].head()

In [ ]:
df['roll no'].head()

In [ ]:
#To select multiple columns at once, we use double brackets and commas between column names
#The result is a new DataFrame object with the selected columns. 
d1 = df[['gender', 'scholarship']].head()
print(d1)
type(d1)

### b. Another way of doing it is using the `dot` notation followed by column label
- Another more elegant way is to use the dot notation. This is possible because every series/column within a dataframe is also an attribute of that dataframe
- Limitation of using dot notation is that you cannot use it if the column name has a space. Moreover, you cannot select multiple columns at the same time. (Can be done using `loc`)

In [ ]:
s1 = df.age
s1.head()

In [ ]:
df.age.head()

## 4. Selecting one or more Rows of a Dataframe using `[]` operator with slice operator inside
- Selection of rows within a dataframe can be performed using slice object `[start:stop:step]`,based on row index (integer value)
- You can slice a Dataframe object quite similar to slicing a numPy array or Python list. The differences are:
    - When we slice a Python list we get a completely new list.
    - When we slice a numPy array, we get a view of the original array.
    - When we slice a dataframe, we get a new dataframe.
    - You cannot access elements of a dataframe by a single index, as you can do in series.
    
- There are three arguments for slicing arrays, all are optional:
```
array[start:stop:step]
```

    - start: specifies from where the slicing should start, inclusive (default is 0) 
    - stop: specifies where it has to stop, exclusive (default is end of the array) 
    - step:  is by-default 1

In [ ]:
df = pd.read_csv('../course-datasets/groupdata.csv')
df.head()

In [ ]:
#Slice object: [start:stop:step] is an object that contains a portion of a sequence.
df[10:]
#Note: You cannot access elements of a dataframe by a single index or using a list as you can do in case of series

In [ ]:
df[:3]

In [ ]:
df[4:7]

In [ ]:
df[::5]

In [ ]:
df[10:5:-1]

In [ ]:
df[::-1].head()

In [ ]:
df[5:10:2]

**Note that the output dataframe contains a subset of original dataframe. However, the index or row labels stays with the rows. It is not renumbered. So this means that every row is identified by a row label, which remain associated wih the row or record until you decide to reset the index**

#### Resetting the Index of Subset of a Dataframe
- When we slice data from a datafeame, the row index of resulting dataframe may not be contiguous values.
- You can reset it using the `df.reset_index()` method as discussed above

In [ ]:
df2 = df[5:10:2]
df2

In [ ]:
df3 = df2.reset_index()
df3

**Note that a new column is added in the dataframe, which is mostly not required. Use the `drop` paremeter to the `reset_index()` method to avoid thist**

In [ ]:
df4 = df2.reset_index(drop=True)
df4

**If you want this to take happen inplace use `inplace` parameter to the `reset_index()` method.**

In [ ]:
df2.reset_index(drop=True, inplace=True)
df2

>**Although we can access rows of a dataframe using `df[]` syntax, however, `df.loc[]` and `df.iloc[]` methods provides simpler, more elegant and powerful way to select rows from a dataframe over `df[]` syntax. There is another method `df.ix`, which is a combination of above two and should be avoided due to its a bit confusing nature. Moreover, `ix` has been depricated since Pandas version 0.22. Deprecated means Pandas says that you should stop using it and in the future version this may not be available**

## 7. Selecting rows using `loc` Method
>- **`df.loc[]`** is for filtering rows and selecting columns by **label(s)** or a boolean array. Allowed inputs within `[]` are:
     - A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is interpreted as a *label* of the index, and **never** as an integer position along the index).
     - A list or array of labels, e.g. `['ms07', 'ms02', 'ms08']` or `[9, 2, 7]`.
     - A slice object with labels, e.g. ``'ms05':'ms09'``.
     - A Boolean array (any NA values will be treated as False)
     - **Warning:** Note that contrary to usual Python slices, **both** the start and the stop are included

### a. Use of `df.loc` to Select Rows of a Dataframe
```
df.loc[whatrowsIwant, whatcolumnsIwant]
```
- Place a collon for the column field to select all columns
- You can use a single value, a list of multiple values, or a slice object for selecting rows. The values are treated as **labels**

In [ ]:
df = pd.read_csv('../course-datasets/groupdata.csv')
df.head()

In [ ]:
df1 = df.sort_values('scholarship')
df1

In [ ]:
# I want row/series object with label 0 and all the columns
df1.loc[0,:]

In [ ]:
# I want to select rows with label 1,2 and 4 and all the columns
# With loc we can use list of labels, and it returns a dataframe related with the list of labels
df1.loc[[1,2,4], :]

In [ ]:
# I want to select rows with label from 6 to 12 (both inclusive) and all the columns
df1.loc[6:12, :]

**In all above examples, if you omit comma and collon for the columns part, Pandas assumes it. I strongly recommend using the above style for clarity of code

### b. Use of `df.loc` to Select Columns of a Dataframe
```
df.loc[whatrowsIwant, whatcolumnsIwant]
```
- Place a collon for the rows field to select all rows
- You can use a single value, a list of multiple values, or a slice object for selecting columns

In [ ]:
df1.columns

In [ ]:
df1.loc[:, 'name']

In [ ]:
# With loc we can use list of labels, and it returns a dataframe related with the list of labels
df1.loc[:, ['name', 'address', 'scholarship']]

In [ ]:
df1.loc[:, 'name':'session']

### c. Use of `df.loc` to Select Rows + Columns of a Dataframe
```
df.loc[whatrowsIwant, whatcolumnsIwant]
```
- You can use a single value, a list of multiple values, or a slice object for selecting rows
- You can use a single value, a list of multiple values, or a slice object for selecting columns

In [ ]:
# Apart from rows you can also get specific columns using loc
# Suppose you want rows having index 3 and 0 and do not want all the columns rather only name and address

d1 = df.loc[[3, 0], ['name', 'address']]
d1

In [ ]:
df1.loc[0:2, 'age':'session']

## 9. Selecting rows using `iloc` Method
>- **`df.iloc[]`** is for filtering rows and selecting columns by **integer position** (0 to n-1) (not by row index value nor by row index label). Allowed inputs within `[]` are:
     - A single integer, e.g. ``5`` (note that ``5`` is interpreted as an integer position along the index).
     - A list or array of integers, e.g.  `[9, 2, 7]`.
     - A slice object with integers, e.g. ``2:9``.
     - A Boolean array (any NA values will be treated as False)
     - Note that as with usual Python slices, **stop** index is not included
     - **Note:** ``.iloc`` will raise ``IndexError`` if a requested indexer is out-of-bounds, except *slice* indexers which allow out-of-bounds indexing (this conforms with python/numpy *slice* semantics).

### a. Use of `df.iloc` to Select Rows of a Dataframe
```
df.iloc[whatrowsIwant, whatcolumnsIwant]
```
- Place a collon for the column field to select all columns
- You can use a single value, a list of multiple values, or a slice object for selecting rows. The values are treated as **labels**

In [ ]:
df = pd.read_csv('../course-datasets/groupdata.csv')
df.head()

In [ ]:
df1=df.sort_values('scholarship')
df1

In [ ]:
# I want to select row with row index 0 and all the columns
# Note it select by position
df1.iloc[0,:]

In [ ]:
# With iloc we can use list of array of integers, and it returns a dataframe related with the list of integers
# Note that the integer values are interpreted as row# (positional index) of the dataframe 
df1.iloc[[1,2,4], :]

In [ ]:
# I want to select rows with row index at position 4 to 6 (stop value is NOT inclusive) and all the columns
# Note it select by position
df1.iloc[4:6, :]

**In all above examples, if you omit comma and collon for the columns part, Pandas assumes it. I strongly recommend using the above style for clarity of code

### b. Use of `df.iloc` to Select Columns of a Dataframe
```
df.iloc[whatrowsIwant, whatcolumnsIwant]
```
- Place a collon for the rows field to select all rows
- You can use a single value, a list of multiple values, or a slice object for selecting columns

In [ ]:
df1.columns

In [ ]:
# I want to select all rows and only the column at position 2
# Note it select by position
df1.iloc[:, 2]

In [ ]:
# I want to select all rows and the columns at position 1, 4, and 5
# Note it select by position
df1.iloc[:, [1,4,5]]

In [ ]:
# I want to select all rows and the columns from position 2 to 5 (Note that the stop index is not inclusive)
# Note it select by position
df1.iloc[:, 2:5]

### c. Use of `df.iloc` to Select Rows + Columns of a Dataframe
```
df.iloc[whatrowsIwant, whatcolumnsIwant]
```
- You can use a single value, a list of multiple values, or a slice object for selecting rows
- You can use a single value, a list of multiple values, or a slice object for selecting columns

In [ ]:
# Using df.iloc you can retrieve specific rows and specific columns
# Suppose you want rows having index 3 and 0 and do not want all the columns rather only 1 and 5

df1 = df.iloc[[3, 0], [1, 5]]
df1

In [ ]:
df1.iloc[0:2, 2:4]

## 10. Conditional Selection
- Suppose we want to select only those rows where the age value is greater than 40
- Suppose we want to select only those rows where the students belong to Karachi
- Suppose we want to select only those rows having students earning scholarship value greater than 5000

### a. Option 1:
- Create a Python list having Boolean values of exact same length as the rows of the dataframe 
- The value in the list need to be True for the row which we want to select
- Convert the Python list to a Pandas series
- Finally pass that series to the dataframe

In [ ]:
list1 = []
for length in df.age:
    if length > 40:
        list1.append(True)
    else:
        list1.append(False)
        
        
list1

In [ ]:
ser1 = pd.Series(list1)
ser1

In [ ]:
df[ser1]

### b. Option 2:
- Instead of writing a loop to create a Boolean list and then series. Use appropriate comparison operator to create a series object directly.
- Then pass that series object to the dataframe

In [ ]:
ser2 = df.age > 40
ser2

In [ ]:
df[ser1]

### c. Option 3:
- Write the above two steps in one single statement as shown below

In [ ]:
df[df.age >40]

In [ ]:
df[df.address == 'Lahore']

In [ ]:
# Since above is a dataframe, so if you want you can simply select one column as follows:
df[df.age >40].name

### d. Option 4:
- Best way is to use the `loc` method.

In [ ]:
df.loc[df.age > 40]

In [ ]:
df.loc[df.age > 40, 'name']

In [ ]:
df.loc[df.age > 40, ['name', 'age']]

## 11. Conditional Selection based on  Multiple Conditions
- Suppose we want to get all the records of the dataframe where the age value is greater than 40 and belong to Multan
- For this use multiple conditions inside parenthesis and use logical operators (`&`, `|`) in between
```
df[(condition1) op (condition2) op (condition3)]
```

In [ ]:
df.head()

In [ ]:
df[(df.age > 40) & (df.address == 'Multan')]

In [ ]:
# Select records of group A only, who are Males
df1 = df[(df.group == 'group A') & (df.gender == 'Male')]  
df1

In [ ]:
# Select records who lives outside Karachi and earn a scholarship of greater than 7000, or lives in Peshawer
out = df[(df.address != 'Karachi') & (df.scholarship > 7000) | (df.address == 'Peshawer')]
out

In [ ]:
# Select the records of students who belong to Lahore or Karachi
df1 = df[(df.address == 'Sialkot') | (df.address == 'Karachi')]
df1

**If there are many conditions connected with or operator, you can simplify it using the `series.isin()` method as shown below:**

In [ ]:
df[df.address.isin(['Karachi', 'Peshawer', 'Islamabad'])]

## 12. Selecting columns of a specific data type
- We can use the `select_dtypes(include=None, exclude=None)` function of dataframe, 
- Returns the subset of the dataframe's including the dtypes in include and excluding the dtypes in exclude
- include and exclude can be scalar or list-like
- atleast one of these parameters must be supplied

In [ ]:
# Let us first check the data types of each column
df.dtypes

In [ ]:
# Select the columns with object data type (categorical variables) only`
df.select_dtypes(include='object').head()

In [ ]:
# Select the columns with float64 datatype
df.select_dtypes(include='float64').head()

In [ ]:
# Select the columns with int64 datatype
df.select_dtypes(include=['int64', 'float64']).head()

In [ ]:
# Practice what you have learnt in this notebook on this dataframe
import pandas as pd
sample_df = pd.DataFrame({
    'name' : ['Kamal', 'Saima', 'Jamal', 'Shaikh', 'Farzana'],
    'gender' : ['M', 'F', 'M', 'M', 'F'],
    'grade'  : ['A', 'A', 'B', 'B', 'A'],
    'marks'  : [ 22,  21,  12,  14,  20],
    'id'     : ['A101', 'A102', 'A103', 'A104', 'A105'],
    'city' : ['Lahore', 'Peshawer', 'Lahore', 'Karachi', 'Peshawer']
})
sample_df

In [ ]:
# Practice what you have learnt in this notebook on this dataframe
import pandas as pd
df = pd.DataFrame({
    'artist' : ['Atif Aslam', 'Nusrat Fateh Ali', 'Ali Zaffar', 'Nazia Hassan', 'Abida Parveen', 'Rahat Fateh Ali', 'Hadiqa Kiani'],
    'city' : ['Lahore', 'Karachi', 'Islamabad', 'Lahore', 'Peshawer', 'Quetta', 'Karachi'],
    'album_count'  : [23, 31, 42, 38, 41, 36, 25],
    'genre'  : ['Rock', 'Folk', 'Rock', 'Disco', 'Folk', 'Classical', 'Jaaz']
})
df

## 4. Deleting, and Adding  a Row in a Dataframe

### a. Deleting Rows from a  Dataframe
- - To delete a row from a dataframe you can use the `df.drop()` method as used to drop a column. You just have to mention the axis argument to  0

**`df.drop(listofcolnames, axis=0, inplace=True')`**

In [ ]:
df.shape

In [ ]:
df.drop([1,2], axis=0, inplace=True)
df.head()

In [ ]:
df.shape

### b. Add a Row in a Dataframe
- To add a new row in a dataframe, create an appropriate dataframe and then use `df.append()` method, which will return a new dataframe with the row added.
```
df.append(other, ignore_index=False)
```
**More on append in future session**

In [ ]:
newdf = pd.DataFrame(data=[['MS555', 'Kakamanna', 'group D', 55.0, 55.0, 9999]],
                     columns=['roll_no', 'name', 'group', 'subj1', 'subj2', 'scholarship'])
newdf

In [ ]:
df1 = df.append(newdf, ignore_index=True)
df1

**Dear students, how can we add a row in the beginning or in between instead of adding it at the end?**